.mainContainer {
  padding: 25px 40px;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  height: 200px;
  width: 400px;
  margin: 10px;
}

.itemTitle {
  font-size: 24px;
  margin: 10px 15px 0px 15px;
}

.textContainer {
  flex: 1;
  text-align: center;
}

.itemDescription {
  font-size: 18px;
  margin: 0px 15px;
}

.itemIconContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px;
}